@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* { 
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(https://cdn.pixabay.com/photo/2017/10/07/16/09/lake-2826880_1280.jpg);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#container {
    background: rgb(165, 162, 165);
    border-radius: 20px;
    padding: 18px;
    background: rgba(255, 153, 0, 0.137);
    box-shadow: 5px 5px 5px rgba(73, 72, 72, 0.37);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#search {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 4px 12px;
}

#search input {
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 100%; 
}

#search input:focus-visible {
    outline: none;
}

#search button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#weather {
    margin-top: 20px;
}

#weather #title {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 600;
    color: #372f3f
}

#temp {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    background: (rgb(168, 160, 123));
    color: #fff;
    border-radius: 20px;
    padding: 20px;
}

#temp_img {
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,1));
}

#temp_value {
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    text-shadow: 4px 4px 4px rgba(0,0,0, 0.4);
}

#temp_description {
    font-weight: 500;
    text-transform: capitalize;
    text-shadow: 4px 4px 4px rgba(0,0,0, 0.4);
}

#other_infos {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

#other_infos .info {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 4px 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0,0,0, 0.5);
    gap: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#other_infos .info h2 {
    font-size: 17px;
    font-weight: 500;
}

#other_infos .info i {
    text-align: center;
    font-size: 20px;
    width: 15%;
}

#temp_max_icon {
    color: #7f1d1d;
}

#temp_min_icon {
    color: #0284c7;
}

#humidity_icon {
    color: #0ea5e9;
}

#wind_icon {
    color: #7f411d;
}

#alert {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    text-shadow: 4px 4px 4px rgba(46, 43, 43, 0.3);
    font-size: 17px;
}